{% extends "layout.html" %}
{% block content %}
<div class="content-section" >
  <legend class ="border-bottom mb-4">
    <span>
      <h1>
        Student-profile  
      </h1>

    </span>
               

  </legend>

    
    <div class="container">
      <div class="row" >
          <div class="col">
            
            <legend class ="border-bottom mb-1">
              Student Name
            </legend>
            <p>{{form.studentFirstName}} {{form.studentLastName}}</p>

            <legend class ="border-bottom mb-1">
              Associated Guardian
            </legend>
            <p>{{current_user.firstN}} {{current_user.LastN}}</p>

            <legend class ="border-bottom mb-1">
              Student Primary Address
            </legend>
            <p> {{form.studentAddress}}</p>

            <legend class ="border-bottom mb-1">
              Student Grade
            </legend>
            <p>{{form.studentGrade}}</p>
            <a class="nav-item nav-link" onclick="redirectToStudent('{{form.idStudent}}')" style="color: black;border: 1px solid #000;">Update White/Black List</a>


            
                        
              
          </div>
    
          <div class="col">
            <legend class ="border-bottom mb-1">
              White List Pick Up
            </legend>
            {% for Adult in white %}
              <div  id="{{ parent }}">
                <p>{{ Adult.FirstName}} {{ Adult.LastName}}</p>
              </div>
            {% endfor %}


            <!---- Make the Student Names a Link tht redirects if clicked-->
            <div class="content-section">
              Parent
            </div>
            
            

            

          </div>
          <div class="col">
            <legend class ="border-bottom mb-1">
              Black List Pick Up
            </legend>
            {% for Adult in black %}
              <div  id="{{ parent }}">
                <p>{{ Adult.FirstName}} {{ Adult.LastName}}</p>
              </div>
            {% endfor %}

              
              


=
          </div>
          
      </div>

    </div>
    <!-- FORM HERE -->
        
  </div>

  <script>
    function redirectToStudent(studentId) {
      var url = "{{ url_for('AddList', student_id='STUDENT_ID') }}".replace('STUDENT_ID', studentId);
      window.location.href = url;
  }
  
  
  </script>


{% endblock content %}


