{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method = "POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class ="form-group">
                <legend class ="border-bottom mb-4">
                    Guardians Please Add Related Students
                </legend>
                <div class="form-group">
                    {{ form.studentN.label(class="form-control-label") }}
                    {% if form.studentN.errors %}
                        {{ form.studentN(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.studentN.errors %}
                                <span> 
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    
                    {% else %}
                    {{ form.studentN(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.studentL.label(class="form-control-label") }}
                    {% if form.studentL.errors %}
                        {{ form.studentL(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.studentL.errors %}
                                <span> 
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    
                    {% else %}
                    {{ form.studentL(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.address.label(class="form-control-label") }}
                    {% if form.address.errors %}
                        {{ form.address(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.address.errors %}
                                <span> 
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    
                    {% else %}
                    {{ form.address(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.grade.label(class="form-control-label") }}
                    {% if form.grade.errors %}
                        {{ form.grade(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.grade.errors %}
                                <span> 
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    
                    {% else %}
                    {{ form.grade(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    
{% endblock content %}
