{% extends "layout.html" %}
{% block content %}

<body>
  <div class="split left">
      <div class="centered">
        <div class="content-section">
                <fieldset class ="form-group">
                    <legend class ="border-bottom mb-4">Annoucement</legend>
                      <div>
                          <!-- Scrollable Text Box -->
                          <div class="scrollable-textbox">
                            <span><h4>On December 10th</h4>The Pick Up pal Website and Application will undergo updates and will be unavaliable from 10am - 8pm. Please Conduct all requirements the day prior!!!</span>
                            <span><h5>December 15th</h5> Represents the One Month Anniversary of the Shaw Elementary School opening so for this Occasion, Pick Up Pal will show its support by creating new courses in order to prepare new Parents for their students first day at school</span>
                          </div>

                      </div>
                </fieldset>

        </div>
        <div class="content-section" >
          
              <fieldset>
                  <legend class ="border-bottom mb-4">Notifications</legend>
                  <div>
                      <!-- Scrollable Text Box -->
                      <div class="scrollable-textbox">
                          <h4>December 2nd 2023</h4>
                          <p>There will be a christmas event for all students in the Second Grade, Please Arrive Early and bring the 2 Dollar Entry Fee</p>
                          <h4> December 4th 2023</h4>
                          <p>The Annnual Fast Food Drive will begin on the 4th of December, This year we will be donating cans to different Homeless Shelters around the County. Anything Canned is Accepted!!</p>
                          <h4>December 20th 2023</h4>
                          <p>Last Day of School, Mandatory Attendance for all Students</p>
                      </div>

                  </div>
              </fieldset>

        </div>
      </div>
    </div>
  
  <div class="split right">

      
      <h2>LogIn Screen</h2>
      <br><br><br>
      <br>
      <img  src="static\December-2023-Calendar.jpg" style="height: 70%; width: 80%;">

  </div>
</body>

  {% endblock content %}
  
  