{% extends "layout.html" %}
{% block content %}

<body>
  <div class="split left">
      <div class="centered">
        <div class="content-section">
                <fieldset class ="form-group">
                    <legend class ="border-bottom mb-4">Annoucement</legend>
                      <div>
                          <!-- Scrollable Text Box -->
                          <div class="scrollable-textbox">
                            <span> For the next Two Weeks, The school will be implementing a new system in order to be able to check whether or not the current way the school is ran can be improved</span>
                            <span> For the next Two Weeks, The school will be implementing a new system in order to be able to check whether or not the current way the school is ran can be improved</span>

                            <span> For the next Two Weeks, The school will be implementing a new system in order to be able to check whether or not the current way the school is ran can be improved</span>
                          </div>

                      </div>
                </fieldset>

        </div>
        <div class="content-section" >
          
              <fieldset>
                  <legend class ="border-bottom mb-4">Notifications</legend>
                  <div>
                      <!-- Scrollable Text Box -->
                      <div class="scrollable-textbox">
                          HELLO
                      </div>

                  </div>
              </fieldset>

        </div>
      </div>
    </div>
  
  <div class="split right">
    <div class="centered">

      
      <h2>LogIn Screen</h2>
      <p>Add Text Box and Information Later!!</p>
      <button> Press</button>
      <input type="date" />
    </div>
  </div>
</body>

  {% endblock content %}
  
  