{% extends "layout.html" %}
{% block content %}

<div class="split left">
  <div class="centered">
    <div class="content-section">
        <form method = "POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class ="form-group" style="height: 60%;">
                <legend class ="border-bottom mb-4">LogIn</legend>
                <div class=""form-group>
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span> 
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    
                    {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class=""form-group>
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span> 
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class=""form-group>
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span> 
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    
                    {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                    
                </div>
                <div class ="form-check">
                    {{ form.Usertype(class="form-check-input") }}
                    {{ form.Usertype.label(class="form-check-label") }}
                </div>
                

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
            <br>
            <small class="text-muted">
                Need an Account? <a class="ml-2" href="{{ url_for('register') }}"> Register Today</a>
            </small>
            
        </form>
    </div>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <div class="content-section">
        <body onload="info()">
        <h2>Welcome to Pick Up Pal</h2>
        <p>At Pick Up Pals, We hope to become your best friend</p>
        
        
        <div class="scrollable-textbox" id="content-box">
            <h4>What is Pick Up Pal</h4>
            Pick Up Pals (PUP) is an app that streamlines a school’s child pick-up systems by making the parent or guardian verification system more efficient and implementing safety and security protocols. PUP will save verification information of parents and guardians, such as driver’s licenses and car information, and ensures the ability to identify authorized parents and guardians.
            <h4>Pick Up Pals Target Clients and Users</h4>
            Our Target clients and users are schools and the parents associated with the schools as well. We will be providing the schools with the technology and helping them integrate the system within their current infastructure in order to allow a more efficent Pick Up Service. Through this manner, We hope that the after school experience and school parent interaction will be more concise.
        </div>

        </body>




    </div>
        
  </div>
</div>


{% endblock content %}
